.mainlink {
	margin: 0;
	padding: 0;
}

.mainlink ul {
	background: #333333;
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px;
	height: 35px;
}

.mainlink li {
	float: left;
	margin: 0;
	padding: 0;
}

.mainlink li a {
	background: #333333;
	color: #f0f0f0;
	display: block;
	line-height: 35px;
	margin: 0;
	padding: 0 35px;
	text-align: center;
	text-decoration: none;
}

.mainlink li a:hover, .mainlink ul li:hover a {
	background: #2580a2 url("/pics/triangle.png") left center no-repeat;
	color: #f0f0f0;
	padding-bottom: 8px;
}

.mainlink li ul {
	background: #333333;
	border: 0;
	display: none;
	height: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 225px;
	z-index: 200;
}

.mainlink li:hover ul {
	display: block;
}

.mainlink li li {
	border-bottom: 1px solid #202020;
	border-left: 1px solid #424242;
	border-right: 1px solid #202020;
	border-top: 1px solid #424242;
	display: block;
	float: none;
	margin: 0;
	padding: 0;
}

.mainlink li:hover li a {
	background: none;
}

.mainlink li ul a {
	display: block;
	height: 24px;
	margin: 0;
	padding: 0 10px 0 15px;
	text-align: left;
}

.mainlink li ul a:hover, .mainlink li ul li:hover a {
	background: #2580a2 url("/pics/triangle.png") left center no-repeat;
	border: 0;
	color: #f0f0f0;
	text-decoration: none;
}

.mainlink #warning a:hover {
	background: #a22525 url("/pics/triangle.png") left center no-repeat;
	border: 0;
	color: #f0f0f0;
	text-decoration: none;
}

.mainlink p {
	clear: left;
}

.mainlink img {
	border: 0;
	padding: 0 10px 0 0;
	vertical-align: middle;
}
